extends layout

block content
    a(href='/') Home Page
    p Add Category form LOL!
    form(method='POST', action='/categories/')
        label(for='name-category') Name
        input(placeholder='Savory' name='name' id='name-category')
        label(for='describe-category') Description
        input(placeholder='For food that tastes great' name='description' id='describe-category')
        input(type='submit')