extends layout

block content
  a(href='/categories') Categories
  br
  a(href='categories/3') Category
  br
  a(href='/categories/add') Categories/add
  br
  a(href='/categories/update/3') Categories/update
  br
  a(href='/categories/delete/3') Categories/delete
  br
  a(href='/goods') Goods
  br
  a(href='goods/3') Good
  br
  a(href='/goods/add') Goods/add
  br
  a(href='/goods/update/3') Goods/update
  br
  a(href='/goods/delete/3') Goods/delete